---
layout: default
title: Home
---

<div id="up"></div>

<!-- Navegación -->
{% include _nav.html %}

<section class="para fullheader entry" id="header-option" style="background-position: 50% 0px;">
	<div class="container">
		<div class="sixteen columns header-logo-area">
			<img src="img/logo_splash.png" class="header-logo scale-with-grid">
		</div>		
	</div>
</section>

<!-- Últimos trabajos -->
{% include _recent.html %}

<section class="parallax parallax-sections-69 " id="parallax-sections-69">
	<div class="parallax-bg-overlay"></div>
	<div class="container message">
		<h4></h4>
	</div>
</section>

<!-- Servicios -->
{% include _services.html %}

<section class="parallax parallax-sections-72 " id="parallax-sections-72">
	<div class="parallax-bg-overlay"></div>
	<div class="container message"></div>
</section>

<!-- Lo que hacemos -->
{% include _work.html %}

<section class="parallax parallax-sections-109 " id="parallax-sections-109">
	<div class="parallax-bg-overlay"></div>
	<div class="container message"></div>
</section>

<!-- Equipo -->
{% include _team.html %}

<!-- Clientes -->
{% include _clients.html %}

<!-- Contacto -->
{% include _contact.html %}
