<section style="position:relative;" class="page-section page-sections-92 " id="contacto">
	<div class="container">
		<div style="width: 35%; height: 1px; background-color: white; display: inline-block; margin-bottom: 10px; margin-right: 4%;"></div>
		<h2 style="font-weight: 300; font-size: 28px; display: inline-block; line-height: 28px; width: 20%; text-align: center;">CONTACTO</h2>
		<div style="width: 35%; height: 1px; background-color: white; display: inline-block; margin-bottom: 10px; margin-left: 4%;"></div>
		<table style="color: white; width: 100%; margin-top: 27px; font-size: 16px; line-height: 23px;">
			<tbody>
				<tr>
					<td style="text-align: center;width: 35%;">
						<img style="width: 114px;" src="img/logo_splash.png" alt="">
					</td>
					<td style="vertical-align: middle;width: 23%;text-align: center;">
						<b style="font-weight: bold;">MAIL:</b>&nbsp;contacto@finolifilms.com<br>
						<b style="font-weight: bold;">TELÉFONO:</b> 099313393
					</td>
					<td style="width: 37%;text-align: center;vertical-align: middle;">
						<a href="https://www.facebook.com/finolifinoli/" target="_blank" rel="attachment wp-att-241" style="margin-right: 30px;">
							<img class="wp-image-241" style="display: inline-block; height: 30px;" src="img/facebook_small.png" alt="Facebook">
						</a>
						<a href="https://twitter.com/finolifinoliofi" target="_blank" rel="attachment wp-att-242" style="margin-right: 30px;">
							<img class="wp-image-242" style="display: inline-block; height: 30px;" src="img/twitter_small.png" alt="Twitter">
						</a>
						<a href="https://www.youtube.com/user/FinoliFinoliTV" target="_blank" rel="attachment wp-att-241">
							<img class="wp-image-241" style="display: inline-block; height: 30px;" src="img/youtube_small.png" alt="Youtube">
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>