<section class="topBar nzs-drop-menu normal-menu" id="top" style="min-height: 90px;">
	<div class="container" style="min-height: 90px;">
		<a href="{{site.domain_url}}">
			<h1 class="hide-text">Finoli Films</h1>
		</a>
	<nav class="mainMenu">
		<ul id="main-menu" class="menu">
			<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#up">Inicio</a>
			</li>
			<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-252">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#trabajos-recientes">Trabajos</a>
			</li>
			<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-87">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#servicios">Servicios</a>
			</li>
			<li id="menu-item-203" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-203">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#trabajos">Trabajos</a>
			</li>
			<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-117">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#equipo">Equipo</a>
			</li>
			<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-297">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#clientes">Clientes</a>
			</li>
			<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-93">
				<a href="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#contacto">Contacto</a>
			</li>
			<li id="menu-item-316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-316">
				<a href="http://blog.finolifilms.com">Blog</a>
			</li>
		</ul>
	</nav>
	<select size="1" id="subMenu" name="subMenu">
		<option selected="selected" value="">Menu</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#up">Inicio</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#trabajos-recientes">Trabajos</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#servicios">Servicios</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#trabajos">Trabajos</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#equipo">Equipo</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#clientes">Clientes</option>
		<option value="{% if page.layout == 'trabajo' %}{{site.domain_url}}{% endif %}#contacto">Contacto</option>
		<option value="http://blog.finolifilms.com">Blog</option>
	</select>
	</div>
</section>
