<section style="position:relative;" class="page-section page-sections-48 " id="servicios">
	<div class="container">
		<div class="titleBar">
			<span></span>
			<h2>Servicios Finoleros</h2>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/produccion_audiovisual.png" alt="" class="scale-with-grid">
				<h5>producción audiovisual</h5>
				Realizamos contenido audiovisual original con el objetivo de entretener y/o &nbsp;informar sobre diferentes productos o servicios. Nos encargamos de todo lo que involucra un rodaje, desde la creatividad hasta el último detalle en post producción.
			</div>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/soluciones_creativas.png" alt="" class="scale-with-grid">
				<h5>soluciones creativas</h5>
				Buscamos la mejor manera para comunicar sobre tu producto, servicio o evento, ofreciendo diferentes estrategias creativas para obtener los mejores resultados posibles. 
			</div>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/casting.png" alt="" class="scale-with-grid">
				<h5>casting</h5>
				Desde la selección hasta el training actoral cubrimos, con un equipo de profesionales capacitado, la selección de talentos para obtener la mayor calidad de tu proyecto.
			</div>
		</div>
		<div class="clear"></div>
		<div class="one-third column">
			<div class="info">
				<img src="img/edicion.png" alt="" class="scale-with-grid">
				<h5>edición</h5>
				Servicio de edición y asesoramiento, contamos con una isla de edición y todos los programas y recursos.
			</div>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/post_produccion.png" alt="" class="scale-with-grid">
				<h5>post producción</h5>
				Nos involucramos en todo lo que sea post producción de principio a fin.  Correción de color primaria ,secundaria, , trakeos rotoscopiado y así como animaciones en 2d y 3d
			</div>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/animacion_3d.png" alt="" class="scale-with-grid">
				<h5>animación/3D</h5>
				Contamos con los equipos y los profesionales para realizar cualquier tipo de idea que involucre 3D.
			</div>
		</div>
		<div class="clear"></div>
		<div class="one-third column">
			<div class="info">
				<img src="img/fx.png" alt="" class="scale-with-grid">
				<h5>FX</h5>
				Trabajamos en conjunto con profesionales de los  FX prácticos
			</div>
		</div>
		<div class="one-third column">
			<div class="info">
				<img src="img/eventos.png" alt="" class="scale-with-grid">
				<h5>eventos</h5>
				Realizamos la cobertura de eventos y actos especiales logrando una producción final de alta calidad. Contamos además con la tecnología de cámaras 3D y 360º para producción de videos y streaming en vivo, logrando una experiencia única para que el evento pueda ser seguido desde diferentes partes del mundo.
			</div>
		</div>
	</div>
</section>
